/* Reset / base */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  /* IMPORTANT: do NOT use display:flex here */
  display: block;
}

#root {
  min-height: 100vh;
  width: 100%;
}
